<!-- config.html -->
{% extends "base.html" %}
{% block title %}Configuración{% endblock %}

{% block content %}
<div class="container mt-5">
    <img src="{{ url_for('static', filename='images/backgrounds/image6.jpg') }}" alt="Background Image" id="image-background" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Configuración</h2>

                    <!-- Formulario para cambiar nombre de usuario -->
                    <form method="POST" action="{{ url_for('update_username') }}">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de usuario:</label>
                            <input type="text" id="username" name="username" class="form-control" value="{{ current_user.username }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Cambiar Nombre</button>
                    </form>

                    <!-- Formulario para cambiar contraseña -->
                    <form method="POST" action="{{ url_for('update_password') }}" class="mt-4">
                        <div class="mb-3">
                            <label for="current_password" class="form-label">Contraseña Actual:</label>
                            <input type="password" id="current_password" name="current_password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">Nueva Contraseña:</label>
                            <input type="password" id="new_password" name="new_password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_new_password" class="form-label">Confirmar Nueva Contraseña:</label>
                            <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Cambiar Contraseña</button>
                    </form>

                    <!-- Formulario para vincular Steam ID -->
                    <form method="POST" action="{{ url_for('link_steam') }}" class="mt-4">
                        <div class="mb-3">
                            <label for="steam_id" class="form-label">Vincular Steam ID:</label>
                            <input type="text" id="steam_id" name="steam_id" class="form-control" placeholder="Ingresa tu Steam ID">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Vincular Steam</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}