{% extends "base.html" %}
{% block title %}Riot Games - GameTrackr{% endblock %}

{% block content %}
<div class="container mt-4">
    <img src="{{ url_for('static', filename='images/backgrounds/image5.jpg') }}" alt="Background Image" id="image-background" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
    <h2 class="text-center mb-4" style="color: white; font-size: 2.5rem; font-weight: bold;">Buscador de League of Legends</h2>

    <!-- Buscar jugador -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <h5 class="card-title" style="color: white;">Buscar Jugador</h5>
            <div class="row g-3">
                <div class="col-md-6">
                    <input type="text" id="riot-gameName" class="form-control" placeholder="Nombre del invocador">
                </div>
                <div class="col-md-4">
                    <input type="text" id="riot-tagLine" class="form-control" placeholder="Tag (ej: EUW)">
                </div>
                <div class="col-md-2">
                    <button id="riot-search-button" class="btn btn-primary w-100">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor para las estadísticas generales -->
    <div id="riot-summoner-stats">
        <!-- Aquí se mostrarán las estadísticas generales del jugador -->
    </div>

    <!-- Contenedor para el historial de partidas -->
    <div id="riot-summoner-info">
        <!-- Aquí se mostrará el historial de partidas -->
    </div>
</div>

<script src="{{ url_for('static', filename='js/dashboard_riot.js') }}"></script>
{% endblock %}