{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1 class="text-center">Lista de Juegos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Progreso (%)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.progress }}%</td>
            <td>
                <a href="{{ url_for('game_detail', game_id=game.id) }}" class="btn btn-info btn-sm">Ver Detalles</a>
                <form action="{{ url_for('delete_game', game_id=game.id) }}" method="POST" style="display:inline-block; margin-left: 5px;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este juego?');">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}