{% extends "base.html" %}
{% block title %}Inicio - GameTrackr{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenido a GameTrackr 🎮</h1>
    <p class="lead">Tu plataforma para gestionar y seguir tus logros en Steam.</p>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">¿Qué es GameTrackr?</h2>
                    <p class="card-text">
                        GameTrackr es una herramienta que te permite ver y gestionar tus juegos de Steam, 
                        así como seguir tu progreso en los logros de cada juego.
                    </p>
                    <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg">Regístrate</a>
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}